body {
    background: #f2eee3;
    font-family: "Montserrat";
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.clock {
    color: #17D4FE;
    font-size: 60px;
}

p {
    font-size: 30px;
    color: red;
}
